{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block corps %}
	{{ parent() }}
	<div class="fos_user_user_show">
		<p>{{ 'profile.show.username'|trans }} : {{ user.username }}</p>
		<p>{{ 'profile.show.email'|trans }} : {{ user.email }}</p>
		<p>Nom : {{ user.enseignant.nom }}</p>
		<p>Prénom : {{ user.enseignant.prenom }}</p>
		<input type="button" value="Modifier ses informations" onclick="javascript:location.href='{{ path('fos_user_profile_edit') }}'">
	</div>
{% endblock %}
