{# src/Staps/AccueilBundle/Resources/views/Accueil/accueil.html.twig #}

{% extends "::layout.html.twig" %}

{% block titre %}Accueil{% endblock %}

{% block corps %}
	{{ parent() }}
	<h1>Ceci est la page d'accueil</h1>
	<p>Elle permettra à un utilisateur de savoir ce qu'est le site et de se connecter
	ou s'inscrire.</p>
{% endblock %}
