.L1 {
	background-color: yellow; /* background color */
	border-color: yellow;     /* border color */
	color: black;           /* text color */
}

.L2 {
	background-color: green; /* background color */
	border-color: green;     /* border color */
	color: white;           /* text color */
}

.L3 {
	background-color: blue; /* background color */
	border-color: blue;     /* border color */
	color: white;           /* text color */
}
