{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
{% block tete %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	{% block autoRedirect %}
	{% endblock %} 

	<title>
	{% block titre %}
		UFR STAPS
	{% endblock %}
	</title>

	{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('plugins/bootstrap-3.3.7/dist/css/bootstrap.min.css') }}">
	<!--<link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.print.css') }}" media="print"/>-->
	<link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}"/>
	{% endblock %}
{% endblock %}
</head>

<body>
	{% block navbar %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href={{ path('staps_accueil_homepage') }}>
					<img src={{ asset("images/UCA_Logo_STAPS_Long.png") }} width="40%">
				</a>
			</div>
			
			<ul class="nav navbar-nav pull-right">
				{% if is_granted('ROLE_ADMIN') %} <!-- Si je suis admin -->
					<li><a href={{ path('staps_calendrier_gererDisponibilites') }}>
						Gestion des disponibilités
					</a></li>
					<li><a href={{ path('staps_cours_importer') }}>
						Importation des données
					</a></li>	
					<li><a href={{ path('staps_generateur_entree') }}>
						Génération de l'emploi du temps
					</a></li>
					<li><a href={{ path('fos_user_profile_show') }}>
						Mon compte
					</a></li>
					<li><a href={{ path('fos_user_security_logout') }}>
						Se déconnecter
					</a></li>	
				{% else %}
					{% if is_granted('ROLE_PROF') %} <!-- Si je suis prof ou responsable -->
						<li><a href={{ path('staps_calendrier_gererDisponibilites') }}>
							Gestion des disponibilités
						</a></li>
						<li><a href={{ path('staps_cours_gererCours') }}>
							Gestion des cours
						</a></li>
						<li><a href={{ path('staps_generateur_entree') }}>
							Consultation des emplois du temps
						</a></li>
						<li><a href={{ path('fos_user_profile_show') }}>
							Mon compte
						</a></li>
						<li><a href={{ path('fos_user_security_logout') }}>
							Se déconnecter
						</a></li>
					{% else %}
						{% if is_granted('ROLE_USER') %} <!-- Si je suis connecté -->
						<li><a href={{ path('fos_user_profile_show') }}>
							Mon compte
						</a></li>
						<li><a href={{ path('fos_user_security_logout') }}>
							Se déconnecter
						</a></li>
						{% else %} <!-- Si je ne suis pas connecté -->
						<li><a href={{ path('fos_user_security_login') }}>
							Se connecter
						</a></li>
						<li><a href={{ path('fos_user_registration_register') }}>
							S'inscrire
						</a></li>
						{% endif %}						
					{% endif %}								
				{% endif %}
			</ul>
		</div>
	</nav>
	{% endblock %}

	{% block corps %}
	{% endblock %}

	<footer>
		<p> Dernière actualisation : {{ 'now'|date('d/m/Y à H:i:s', "Europe/Paris") }}.</p>
	</footer>

	{% block javascripts %}
	<script src="{{ asset('plugins/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ asset('plugins/bootstrap-3.3.7/dist/js/bootstrap.min.js') }}"></script>	
	<script src="{{ asset('plugins/jquery-ui-1.12.1/jquery-ui.js') }}"></script>
	{% endblock %}
</body>
</html>
