{# src/Staps/CalendrierBundle/Resources/views/Calendrier/agendaDisponibilites.html.twig #}

{% extends "StapsCalendrierBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('plugins/jquery-timepicker-1.3.5/jquery.timepicker.min.css') }}">
	<link rel="stylesheet" href="{{ asset('plugins/jquery-ui-1.12.1/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/stapscalendrier/css/Calendrier/agenda_disponibilites.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/stapscalendrier/css/Formulaire/popup.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/stapscalendrier/css/Transfert/import.css') }}">
{% endblock %}

{% block corps %}
	{% if is_granted('ROLE_RESPONSABLE') %} <!-- Si je suis responsable ou admin -->
	<section class="row">
		<div class='col-lg-2'>
			Filtrer par enseignant :</br>
			<select id='prof_selector'>
				<option value=all>Tous</option>
				<option value=null>Aucun</option>
				{% for prof in profs %}
					<option value="{{ prof.id }}">{{ prof.nom }} {{ prof.prenom }}</option>
	   			{% endfor %}
			</select>
			Filtrer par localité :</br>
			<select id='localite_selector'>
				<option value=all>Tous</option>
				<option value=null>Aucun</option>
				{% for localite in localites %}
					<option value="{{ localite }}">{{ localite }}</option>
	   			{% endfor %}
			</select>
			Filtrer par installation :</br>
			<select id='installation_selector'>
				<option value=all>Tous</option>
				<option value=null>Aucun</option>
				{% for installation in installations %}
					<option value="{{ installation }}">{{ installation }}</option>
	   			{% endfor %}
			</select>
			Filtrer par activité :</br>
			<select id='activite_selector'>
				<option value=all>Tous</option>
				<option value=null>Aucun</option>
				{% for activite in activites %}
					<option value="{{ activite }}">{{ activite }}</option>
	   			{% endfor %}
			</select>
		</div>
		
		{% if is_granted('ROLE_ADMIN') %} <!-- Si je suis admin -->
			<div class='col-lg-2'>
				<form method="get" action="{{ path('staps_calendrier_download') }}">
					<button type="submit">Exporter</button>
				</form>   
				<button class="printBtn hidden-print">Imprimer</button>    
			</div>
			<div class='col-lg-6'>
				<form class='import' action="{{ path('staps_calendrier_upload') }}" method="post" enctype="multipart/form-data">
					{% for flash_message in app.session.flashBag.get('erreur') %}
						<div class="flash-erreur">
							{{ flash_message }}
						</div>
					{% endfor %}
					Importer créneaux lieu (fichier ods, xls ou xml) : <input name="file" type="file" />
						  <input type="submit" name="submit" value="Envoyer" />
				</form> 
			</div>
			<div class='col-lg-2'>
				<form method="get" action="{{ path('staps_calendrier_delete') }}" 
				onsubmit="return alerte()">
					<button type="submit">Tout effacer</button>
				</form>
			</div>
		{% else %} <!-- Si je suis responsable -->
			<div class='col-lg-2'>
			</div>
			<div class='col-lg-6'>
				<form class='import' action="{{ path('staps_calendrier_dispo') }}" method="post" enctype="multipart/form-data">
					{% for flash_message in app.session.flashBag.get('erreur') %}
						<div class="flash-erreur">
							{{ flash_message }}
						</div>
					{% endfor %}
					
					<strong>Importer disponibilités enseignants :</strong> <br>
						Début de la période : <input type="text" id="datepicker_start" name="debut" /><br>
						Fin de la période (exclu) : <input type="text" id="datepicker_end" name="fin" /><br>
					<input name="file" type="file" />
						<input type="submit" name="submit" value="Envoyer" />
				</form> 
			</div>
			<div class='col-lg-2'>
			</div>
		{% endif %}
    </section>
	{% endif %}
	
	<div id="calendar_div" class="container">
	{# Affichage du calendrier #}
	{% include '@FullCalendar/Calendar/calendar.html.twig' %}
	</div>
	<input type="hidden" name="edtFile" id="dispoFile" value="{{ dispo }}" />
	
	<div id="popup_new">
	<div class="well">
		{{ form_start(form) }}
			{# {{ form_row(form.eventParent.title) }} #}
			
			{{ form_row(form.eventParent.start, {'attr': {'class': 'timepicker_start'}}) }}
			{{ form_row(form.eventParent.end, {'attr': {'class': 'timepicker_end'}}) }}
			
			{{ form_row(form.eventParent.dow) }} 
			{{ form_row(form.eventParent.allDay) }}
			{{ form_row(form.eventParent.frequency, {'attr': {'class': 'choice_type'}}) }}
			
			{{ form_row(form.dateStart, {'attr': {'class': 'datepicker_start'}}) }}
			{{ form_row(form.dateEnd, {'attr': {'class': 'datepicker_end'}}) }}
             
        	{{ form_rest(form) }}
        {{ form_end(form) }}
	</div>
	</div>
	
	<div id="popup_event"></div>
	
	<div id="popup_delete">
	<div class="well">
		Voulez-vous supprimer tous les évènements</br>de ce type ou uniquement celui-ci ?</br>
		<input type="radio" name="type" value="tous"/>Tous
		<input type="radio" name="type" value="un" checked=true />Un seul
	</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('plugins/printThis-master/printThis.js') }}"></script>
	<script type="text/javascript" src="{{ asset('plugins/jquery-timepicker-1.3.5/jquery.timepicker.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('plugins/jquery-ui-1.12.1/jquery.ui.datepicker-fr.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/stapscalendrier/js/Formulaire/ajouterEvent.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/stapscalendrier/js/Calendrier/agenda_disponibilites.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/stapscalendrier/js/Calendrier/datepicker.js') }}"></script>
   	<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
  	<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>  	
	<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale/fr.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/stapscalendrier/js/Transfert/export_json_to_xls.js') }}"></script>
	<script>
		function alerte() {
			return confirm(
				'Voulez-vous effacer tous les évènements existants ?\n' +
				'Il ne pourront être récupérés.'
			);
		}
	</script>

	<script type="text/javascript">
	  $('.printBtn').on('click', function() {
		$('#calendar_div').printThis();
	  });
	</script>
{% endblock %}
