{# src/Staps/CoursBundle/Resources/views/Cours/gererCours.html.twig #}

{% extends "StapsCoursBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}	
	<link rel="stylesheet" href="{{ asset('plugins/select2-master/dist/css/select2.css') }}">
	<link rel="stylesheet" href="{{ asset('plugins/select2-bootstrap-theme-master/dist/select2-bootstrap.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/stapscours/css/multiselect.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/stapscours/css/Transfert/import.css') }}">
{% endblock %}

{% block corps %}
	{{ parent() }}
	
	{% if is_granted('ROLE_RESPONSABLE') %}
	<section class="row">
		<div class='col-lg-2'>
		</div>
		<div class='col-lg-2'>
		</div>
		<div class='col-lg-6'>
			<form class='import' action="{{ path('staps_cours_choix') }}" method="post" enctype="multipart/form-data">
				{% for flash_message in app.session.flashBag.get('erreur') %}
					<div class="flash-erreur">
						{{ flash_message }}
					</div>
				{% endfor %}
				<strong>Importer choix des enseignants :</strong> <br>
				<input name="file" type="file" />
					<input type="submit" name="submit" value="Envoyer" />
			</form> 
		</div>
		<div class='col-lg-2'>
		</div>
	</section>
	{% endif %}
	
	<section class="row">
		<div class="container" id="container">
			<h3>1. Choix des UE</h3>
			<select multiple="multiple" class="multiselect" id="UE_select">
				{% for ue in UE %}
					{% if ue.numero in linked_UE_num %}
						<option selected=true value="{{ ue.id }}">{{ ue.numero }} - {{ ue.intitule }}</option>
					{% else %}
						<option value="{{ ue.id }}">{{ ue.numero }} - {{ ue.intitule }}</option>
					{% endif %}
				{% endfor %}
			</select>
			
			<h3>2. Choix des EC</h3>
			<select multiple="multiple" class="multiselect" id="EC_select">
				{% for ec in linked_EC %}
					{% if ec.id in selected_EC %}
						<option selected=true value="{{ ec.id }}">{{ ec.numero }} - {{ ec.intitule }}</option>
					{% else %}
						<option value="{{ ec.id }}">{{ ec.numero }} - {{ ec.intitule }}</option>
					{% endif %}
				{% endfor %}
			</select>
				
			<h3>3. Choix des APSA</h3>
			<select multiple="multiple" class="multiselect" id="APSA_select">
				{% for apsa in linked_APSA %}
					{% if apsa.id in selected_APSA %}
						<option selected=true value="{{ apsa.id }}">{{ apsa.intitule }}</option>
					{% else %}
						<option value="{{ apsa.id }}">{{ apsa.intitule }}</option>
					{% endif %}
				{% endfor %}
			</select>
				
			<button id="validerCours" type="button">Valider</button>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('plugins/select2-master/dist/js/select2.full.js') }}"></script>
	<script type="text/javascript" src="{{ asset('plugins/select2-master/dist/js/i18n/fr.js') }}"></script>
	<script>
		$(function() {
			$('#validerCours').click(function() {
				$.ajax({
		   			url: "{{ path('staps_cours_sauvegarderCours') }}",
		   			data: 'ec_id=' + $('select#EC_select').val()
						+ '&apsa_id=' + $('select#APSA_select').val(),
		   			type: "POST",
		   			success: function() {
		   				alert("Sauvegarde effectuée !");
		   			}
				});
			});
		});
	</script>
	<script type="text/javascript" src="{{ asset('bundles/stapscours/js/multiselect.js') }}"></script>
	
{% endblock %}


