{# src/Staps/CoursBundle/Resources/views/Cours/maquette.html.twig #}

{% extends "StapsCoursBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/stapscours/css/couleurs.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/stapscalendrier/css/Transfert/import.css') }}">
{% endblock %}

{% block corps %}
	{{ parent() }}
	Avant de charger de nouvelles données, vous pouvez exporter les choix d'EC actuels.</br>
	<form method="get" action="{{ path('staps_cours_download') }}">
		<input type="submit" value="Exporter les choix actuels"/>
	</form></br>
	
	Chaque fichier doit être au format ods, xls ou xml et doit être normalisé correctement.</br>
	Pour que l'emploi du temps généré soit le plus précis possible, il est conseillé de
	fournir le plus de données possibles.</br>
	<form class='import' action="{{ path('staps_cours_upload') }}" method="post" 
	enctype="multipart/form-data" onsubmit="return alerte()">
		{% for flash_message in app.session.flashBag.get('erreur') %}
			<div class="flash-erreur">
				{{ flash_message }}</br>
			</div>
		{% endfor %}
		<span class='marque'>**</span>Réservations des installations : <input name="lieux" type="file" /></br>
		<span class='marque'>**</span>APSA : <input name="apsa" type="file" /></br>
		<span class='marque'>**</span>Correspondances APSA-installations : <input name="apsa_lieux" type="file" /></br>
		<span class='marque'>*</span>Maquette : <input name="maquette" type="file" /></br>
		Importer les choix : <input name="choix" type="file" />
		<input type="submit" name="submit" value="Charger les données" />
	</form> 
	<span class='marque'>*</span> : obligatoire</br>
	<span class='marque'>**</span> : a fournir ensemble</br>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>	
		function alerte() {
			return confirm(
				'/!\\ ATTENTION /!\\\n' +
				'\n' +
				'En continuant, vous perdrez l\'ancienne maquette ainsi que\n' +
				'tous les choix effectués par les enseignants.\n' +
				'Pensez à exporter ces derniers avec de valider tout changement.\n' +
				'Voulez-vous continuer ?'			
			);
		}
	</script>
{% endblock %}


