{# src/Staps/GenerateurBundle/Resources/views/Generateur/entree.html.twig #}

{% extends "StapsGenerateurBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('plugins/jquery-timepicker-1.3.5/jquery.timepicker.min.css') }}">
	<link rel="stylesheet" href="{{ asset('plugins/jquery-ui-1.12.1/jquery-ui.css') }}">
{% endblock %}

{% block corps %}
	{{ parent() }}
	<div class='jumbotron'>
		<center>
		<h1>Erreur !</h1></br>
		<h2>La maquette n'a pas été importée.</h2>
		<h3>Rendez-vous sur  
			<a href="{{ path('staps_cours_importer') }}">cette page</a>
		  pour y remédier.</h3>
		</center>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	<script type="text/javascript" src="{{ asset('plugins/jquery-timepicker-1.3.5/jquery.timepicker.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('plugins/jquery-ui-1.12.1/jquery.ui.datepicker-fr.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/stapsgenerateur/js/Parametres/periode.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/stapsgenerateur/js/Parametres/choixLicence.js') }}"></script>
{% endblock %}
