{# src/Staps/GenerateurBundle/Resources/views/Generateur/entree.html.twig #}

{% extends "StapsGenerateurBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('plugins/jquery-timepicker-1.3.5/jquery.timepicker.min.css') }}">
	<link rel="stylesheet" href="{{ asset('plugins/jquery-ui-1.12.1/jquery-ui.css') }}">
{% endblock %}

{% block corps %}
	{{ parent() }}
		
	{% if is_granted('ROLE_ADMIN') %}
	<div class="well col-lg-8">
		{{ form_start(form) }}
			{{ form_row(form.nom) }}
			{{ form_row(form.toutPlacer) }}
			{{ form_row(form.dureeCreneau, {'attr': {'class': 'timepicker'}}) }}

			{{ form_row(form.debutPeriode, {'attr': {'class': 'datepicker_start'}}) }} 
			{{ form_row(form.finPeriode, {'attr': {'class': 'datepicker_end'}}) }}
			{{ form_row(form.semestre) }}
			{{ form_row(form.licences, {'attr': {'class': 'choice_licences'}}) }}
			
			{{ form_row(form.capaciteCM) }}
			{{ form_row(form.capaciteTD) }}
			{{ form_row(form.capaciteTP) }}
			
			{{ form_row(form.effectifPrevuL1, {'attr': {'class': 'effectifL1'}}) }}
			{{ form_row(form.effectifPrevuL2, {'attr': {'class': 'effectifL2'}}) }}
			{{ form_row(form.effectifPrevuL3, {'attr': {'class': 'effectifL3'}}) }}
			
        	{{ form_rest(form) }}
        {{ form_end(form) }}
	</div>
	{% endif %}

	<div class="col-lg-4">
		<form action="{{ path('staps_generateur_afficherEdt') }}" method="GET">
			Choisir l'emploi du temps voulu :</br>
			<select name="datetime">
				{% for datetime_nom in datetimes_noms %}
					<option value="{{ datetime_nom.datetime }}">{{ datetime_nom.nom }}</option>
				{% endfor %}
			</select></br>
			<input type="submit" value="Afficher"/>	
		</form>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	<script type="text/javascript" src="{{ asset('plugins/jquery-timepicker-1.3.5/jquery.timepicker.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('plugins/jquery-ui-1.12.1/jquery.ui.datepicker-fr.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/stapsgenerateur/js/Parametres/periode.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/stapsgenerateur/js/Parametres/choixLicence.js') }}"></script>
{% endblock %}
