{# src/Staps/GenerateurBundle/Resources/views/Generateur/traitement.html.twig #}

{% extends "StapsGenerateurBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('plugins/jquery-ui-1.12.1/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/stapsgenerateur/css/Generateur/affichage_agenda.css') }}">
{% endblock %}

{% block corps %}
	{{ parent() }}
	<section class="row">
		<div class='col-lg-2'>
			<select id='licence_selector'>
				<option value=all>Tous</option>
				<option value="L1">L1</option>
				<option value="L2">L2</option>
				<option value="L3">L3</option>
			</select>
		</div>	
		<div class='col-lg-6 well'>
			Génération de l'emploi du temps en cours avec les paramètres :</br>
			- nom de l'emploi du temps : {{ parametres.nom }}</br>
			- placement des cours : 
				{% if parametres.toutPlacer %} 
					Placement de tous les cours
				{% else %}
					Placement des cours "sûrs"
				{% endif %}</br>
			- durée d'un créneau : {{ parametres.dureeCreneau.date|date('H:i') }}</br>
			- semestre {{ parametres.semestre }}</br>
			- début de la période : {{ parametres.debutPeriode.date|date('d/m/Y') }}</br>
			- fin de la période : {{ parametres.finPeriode.date|date('d/m/Y') }}</br>
			- capacité d'un CM : {{ parametres.capaciteCM }}</br>
			- capacité d'un TP : {{ parametres.capaciteTP }}</br>
			- capacité d'un TD : {{ parametres.capaciteTD }}</br>
			- effectif prévu en L1 : {{ parametres.effectifPrevuL1 }}</br>
			- effectif prévu en L2 : {{ parametres.effectifPrevuL2 }}</br>
			- effectif prévu en L3 : {{ parametres.effectifPrevuL3 }}
		</div>
		
		{% if is_granted('ROLE_ADMIN') %}
		<div class='col-lg-4'>
			<form method="get" action="{{ path('staps_generateur_deleteEdt') }}" 
				onsubmit="return alerte()">
				<input type="hidden" name="edtFile" id="edtFile" value="{{ edt }}" />
				<input type="hidden" name="role" id="role" value="{{ app.user.roles | join(', ') }}" />
				<input type="hidden" name="nom_prenom" id="nom_prenom" value="{{ nom_prenom }}" />
				<button type="submit">Effacer l'emploi du temps</button>
			</form>
		</div>
		{% else %}
		<div class='col-lg-4'>
			<form method="get" action="{{ path('staps_generateur_deleteEdt') }}" 
				onsubmit="return alerte()">
				<input type="hidden" name="edtFile" id="edtFile" value="{{ edt }}" />
				<input type="hidden" name="role" id="role" value="{{ app.user.roles | join(', ') }}" />
				<input type="hidden" name="nom_prenom" id="nom_prenom" value="{{ nom_prenom }}" />
			</form>
		</div>
		{% endif %}
	</section>
	
	<section class="row">
		<div class="container">
		{# Affichage du calendrier #}
		{% include '@FullCalendar/Calendar/calendar.html.twig' %}
		</div>	
	</section>
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
  	<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>  	
	<script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale/fr.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/stapsgenerateur/js/Generateur/affichage_agenda.js') }}"></script>
	<script>
	$(function() {
		debut = "{{ parametres.debutPeriode.date|date('Y-m-d') }}";
		$('#calendar-holder').fullCalendar( 'gotoDate', debut );	

		function alerte() {
			return confirm(
				'Voulez-vous supprimer cet emploi du temps ?'
			);
		}
	});
	</script>
{% endblock %}
